#header {
    color: yellow;
    text-align: center;
    transition: letter-spacing 1s, color 1s;
}

#header:hover {
    cursor: pointer;
    letter-spacing: 3px
}

.container {
    border-style: solid;
    border-color: yellow;
    background-color: black;
    width: 60%;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    border-radius: 10px;
    transition: scale 1s, background-color 1s;
}

.container:hover {
    scale: 101%;
    background-color: rgb(15, 15, 15);
}

#h2 {
    color: yellow;
    padding-top: 20px;
    transition: letter-spacing 1s
}

#h2:hover {
    letter-spacing: 3px
}

#p {
    color: rgb(255, 255, 255);
    margin: 30px;
}

#footer2 {
    text-align: center;
    color: blue;
    font-size: small;
}